*{
    box-sizing: border-box;
}

@font-face {
font-family: 'Gabriola';
font-style: normal;
font-weight: normal;
src: local('Gabriola'), url('gabriola Font Download.woff') format('woff');
}

body{
    font-family: Goudy Old Style,Garamond,Big Caslon,Times                New Roman,serif; 
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
}

header{
    background-color: #f1f1f1;
    text-align: center;
}

header nav ul{
    font-size: 1.25rem;
}

header nav ul li{
    margin: 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: #000000;
}

header nav ul li.active{
    border-bottom: 2px solid black;
}

header nav#secondary {
    background-color: #b7b7b7;
    font-family: Gabriola;
    font-size: 1rem;
}