*{
    box-sizing: border-box;
}

@font-face {
font-family: 'Gabriola';
font-style: normal;
font-weight: normal;
src: local('Gabriola'), url('gabriola Font Download.woff') format('woff');
}

body{
    font-family: Goudy Old Style,Garamond,Big Caslon,Times                New Roman,serif; 
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
}

header{
    background-color: #f1f1f1;
    text-align: center;
}

.inline{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
header .primary #toggle{
    display: none;
}

header .primary #toggle:checked ~ header .primary nav{
    display: block;
} 

header .primary label{
    font-size: 2.25rem;
    display: block;
    cursor: pointer;
}

header .primary nav{
    display: none;
}
*/

header nav ul{
    font-size: 1.25rem;
}


header .primary nav ul li{
    padding: 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: #000000;
}

header nav ul li.active{
    border-bottom: 2px solid black;
    margin: 0 5%;
}

header nav#secondary {
    display: none;
    background-color: #b7b7b7;
    font-family: Gabriola;
    font-size: 1rem;
}

@media (min-width:30rem){
    body{
        font-size: 1.5rem;
    }
    header .primary{
        display: flex;
    }
    
    header .primary label, input{
        display: none;
    }
    header .primary nav{
        display: block;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
    }
}